<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<div class="main-container">

    <h1>Partidos disponibles</h1>

    {% for date, matches in matches_by_date.items() %}

        <h2 class="date-title">
            {{ date }}
        </h2>

        <div class="matches-grid">

            {% for match in matches %}

            <div class="card">

                <a href="/match/{{ match.id }}">

                    <div class="match-row">

                        <div class="team">

                            {% if match.team1 in teams %}
                                <img
                                    class="flag-small"
                                    src="{{url_for('static',filename='flags/' + teams[match.team1].flag)}}"
                                    >
                            {% endif %}
                            
                            {{ match.team1 }}
                        </div>
                    
                        <div class="score">
                            {{ match.score1 }} - {{ match.score2 }}
                        </div>

                        <div class="team right">

                            {{ match.team2 }}

                            {% if match.team2 in teams %}

                                <img
                                    class="flag-small"
                                    src="{{url_for('static',filename='flags/' + teams[match.team2].flag)}}"
                                >
                            {% endif %}    
                        </div>

                    </div>

                    <div class="center-info">

                        <div class="group"> 
                            {% if "group" in match %}
                                Grupo {{ match.group }}

                            {% elif "stage" in match %}
                                {{ match.stage }}
                            {% endif %}
                        </div>


                        <p class="hour">
                            {{ match.hour }}
                        </p>
                    </div>    
                </a>

            </div>

            {% endfor %}

        </div>

    {% endfor %}

</div>