<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<div class="container">

    <h1>Partidos disponibles</h1>

    {% for match in matches %}

        <div class="card">

            <a href="/match/{{ match.id }}">

                {{ match.team1 }}

                vs

                {% if match.team2 %}
                    {{ match.team2 }}
                {% else %}
                    {{ match.team2_options | join(" / ") }}
                {% endif %}

            </a>

            <p>{{ match.date }}</p>
            <p>{{ match.hour }}</p>
            <p>{{ match.stage }}</p>

        </div>

    {% endfor %}

</div>