<link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">

<div class='main-container'>
    <h1>Tablas de grupos</h1>

    <div class="top-buttons">
    <a href="/" class="nav-button">⚽ Partidos</a>
    <a href="/" class="nav-button"> 📊 Estadisticas</a>
</div>

    <div class="groups-section">

        {% for group, teams_table in tablas.items() %}

        <div class="group-table">
            <h2>Grupo {{ group }}</h2>
            <table>
                <tr>
                    <th>Equipo</th>
                    <th>PTS</th>
                    <th>PJ</th>
                    <th>G</th>
                    <th>E</th>
                    <th>P</th>
                    <th>GF</th>
                    <th>GC</th>
                    <th>DG</th>
                </tr>

                {% for team, stats in teams_table.items() %}

                <tr>

                    <td class="team-cell">

                        <div class="status-box status-{{ stats.status }}"></div>

                        <img src="{{ url_for('static', filename='flags/' + teams[team]['flag']) }}" class="flag-small">

                        <span class="team-name">{{ team }}</span>

                    </td>
                    <td>{{ stats.pts }}</td>
                    <td>{{ stats.pj }}</td>
                    <td>{{ stats.g }}</td>
                    <td>{{ stats.e }}</td>
                    <td>{{ stats.p }}</td>
                    <td>{{ stats.gf }}</td>
                    <td>{{ stats.gc }}</td>
                    <td>{{ stats.dg }}</td>
                
                </tr>

                {% endfor %}

            </table>

        </div>

        {% endfor %}

    </div>
</div>
